$base-color: #af7eeb;

.taskText {
  color: $base-color;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 14px 0;
}

.doneTaskText{
  text-decoration: line-through;
}

.taskWrapper{
  width: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.trashIcon{
  margin: 16px 0;
  cursor: pointer;
}

.rbtn{
  color:$base-color;
  cursor: pointer;
}