@import '../../common/CommonStyles.module.scss';

.formWrapper{
  position: relative;
}

.input {
  border: 3px solid $base-color;
  border-radius: 5px;
  width: 500px;
  height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

.inputInvalid {
  border: 3px solid red;
}

.submitBtn {
  position: absolute;
  right: 2%;
  top: 15%;
  outline: none;
  background-color: $secondary-color;
  border: 3px solid $base-color;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
}
